<% include partials/header %>


<div class="container ">
	<div class="row">
		<div class="col-md-6">
<h4 class="text-center well well-sm">Our Services</h4>
		<p class="text-justify">
At Construction Exchange we take pride in our unique suite of bespoke professional services we provide to the construction industry. Our comprehensive services are efficiency focused to provide pragmatic improvements to the construction industry.

Our services derive their foundation from researched data, both historical and real-time. As publishers of the TRUSTED and RELIABLE CIEIG Ghana Construction Cost Indices , our expertise in the collection, collation, truncation, computation and analysis and presentation of construction data is unrivalled in the country.

Our services also cover the following though not exhaustive; Construction Project Management, Construction Engineering Software Development, Organization Culture Change and Management, Project Audits and Reviews, Continuous Professional Development Training.

We provide project specific solutions to meet the needs of our clients. Our services have been utilised by clients from various industries such as:

Mining
Construction and Engineering (both contractors and consultants)
Educational
Manufacturing
Religious
Local Government etc
We also provide traffic engineering/modelling, transport planning and highway engineering services. Our transport and highways division has the capacity to undertake traffic and transport surveys and modelling etc.

We have the knowledge, the skills and the experience to meet most if not all of your project needs. In the event of not being able to meet your needs we would recommend to you our pool of associated professionals who could help you achieve your project objectives.

We have the ability to bring together the best professionals to suit your needs. Our constantly evolving skills and unrivalled network of professionals, the diversity of both our clients and our staff - whatever the challenge, makes our services unique.

We also run the first construction shop online. If you need any construciton products and services why not check our SHOP. Alernatively, if you have any products and services that you want to make available to the construciton industry we are the best platform. We would professionally scrutinise the suitability of your products and services. We always give a high rating to local content and local professional input services.

</div>
		<div class="col-md-6">
<h4 class="text-center well well-sm">NETWORK WITH US</h4>
<ul class="list-group">
<address>
  <strong>Construction Exchange</strong><br>
  1st Floor, Optimum House<br>
  Optimum Shelter Estates<br>
  Kentinkrono - Nsenie<br>
  P O Box 548<br>
  KNUST, Kumasi<br> 
  <abbr title="Phone">Tel:</abbr> +233 54 275 4453
  <abbr title="Phone">Tel:</abbr> +233 20 661 3905
</address>
	
<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">cieig.indices@gmail.com</a><br>
  <a href="mailto:#">constructionexchangegh</a><br>
  <a href="mailto:#">constructionexchangegh</a>
</address>
</ul>
		</div>
	</div>
</div>	

<% include partials/footer %>