html {
  scroll-behavior: smooth;
}


body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	
}

.landing {
	background-color: #000;
}

.main {
	padding: 10% 0 3% 0;
	color: #fff;
	background-color: #000;
	height: 100vh;
}

.landing .navbar {
	margin-bottom: 0;
	background-color: #000;
	border: none;
	padding: 2% 2% 0 2%;
}


.landing .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 110%;
	font-weight: 300;
	border-bottom: 3px solid #000;
}

.landing .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	border-bottom: 3px solid #006a2b;
}

h1 {
	font-size: 400%;
	color: #006a2b;
}

.socials {
	padding: 150% 0 3% 0;
	
}

.zoomInRight {
animation-duration: 1.5s;
}

.slideInRight {
	animation-duration: 3s;
}

p {
	font-weight:100; 
	margin: 0 0 5% 0;
}

.landing-2 {
	padding: 5% 0 3% 0;
	color: #000;
	background-color: #fff;
	height: 100vh;
}


.number {
	font-size: 500%;
	font-weight: 300;
	
}

.img-construction {
	margin: 3% 0 3% 0;
	
}













.ion-logo-facebook,
.ion-logo-twitter,
.ion-md-mail {
	padding: 0 0 0 3px;
	color: #fff;
	font-size: 150%;
}

.ion-ios-arrow-dropup {
	padding: 0 0 0 3px;
	color: #000;
	font-size: 250%;}

.ion-logo-facebook:hover {
	color: #3b5998;
}

.ion-logo-twitter:hover {
	color: #00acee;
}

.ion-md-mail:hover {
	color: #49b675;
}